* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
}

html {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 100%);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.layar-dalam {
    width: 1000px;
    margin: auto;
}

.layar-penuh {
    width: 100%;
    height: 100vh;
    display: flex;
}

.layar-penuh video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

nav {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #ddd;
    line-height: 60px;
    width: 100%;
    transition: background-color 0.5s ease;
}
nav .putih {
    background-color: #fff;
}

nav .logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
}

nav .logo image {
    vertical-align: middle;
    width: 120px;
}

nav .menu {
    float: right;
    height: 60px;
    max-width: 600px;
}

nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 60px;
}

nav ul li a {
    color: #fff;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

a.tbl-biru {
    background: #ADE4DB;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #FFE5CA;
    text-decoration: none;
    text-align:justify;
}


/*pengaturan header*/

header {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

header video {
    position: cover;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
}

header .intro {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
}

header .intro .tebal {
    z-index: 100;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
}

header .intro h3 {
    font-size: 50px;
    margin: 0;
    padding: 0;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 40%;
    z-index: -1;
}

.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.tombol-menu .garis {
    height: 3px;
    background-color: #fff;
}

section {
    padding: 50px 0px 50px 0px;
}

section h3 {
    font-size: 30px;
}

section h3::after {
    content: "";
    border-bottom: 5px solid #c86bc8;
    width: 52px;
    display: block;
    margin: 20px auto;
}

#kesimpulan {
    text-align: center;
}

section p.ringkasan {
    font-style: italic;
    font-size: 18px;
    color: #c86bc8;
}

section .konten-isi-p {
    font-style: normal;
}

nav.putih {
    background-color: #fff;
}

nav.putih .tombol-menu .garis {
    background-color: #333;
}

nav.putih ul li a {
    color: #333;
}

nav .logo image.hitam {
    display: none;
}

section.first {
    background-color: #fff;
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    width: 1100px;
    position: relative;
}

section.third {
    background-color: #fff;
    background-repeat: repeat-y;
    background-position: center;
    background-position: 60pt;
}
.science {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.science h6 {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    font-size: 18px;
    font-weight: 90%;
}

.science img {
    width: 170px;
}

.science div {
    text-align: center;
    width: 26%;
}

section#gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    padding: 10px 8px 10px 8px;
}

section#gallery div {
    padding: 5px;
}

section#gallery div img {
    height: 170px;
    border-radius: 5px;
}

section#gallery div img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
section.quote {
    background-image: url('https://img.freepik.com/free-photo/global-communications-illuminate-our-planet-bright-future-generated-by-ai_188544-22050.jpg?size=626&ext=jpg&ga=GA1.1.454117631.1686064861&semt=sph');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    padding: 100px;
}

.social-buttons {
    margin-left: 666px;
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 15px #00000027;
    padding: 15px 10px;
    border-radius: 5em;
  }
  
  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;
  }
  
  .social-button:hover {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 6px 3px #00000027;
  }
  
  .social-buttons svg {
    transition: 0.3s;
    height: 20px;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .facebook svg {
    fill: #f2f2f2;
  }
  
  .facebook:hover svg {
    fill: #3b5998;
  }
  
  .github {
    background-color: #333;
  }
  
  .github svg {
    width: 25px;
    height: 25px;
    fill: #f2f2f2;
  }
  
  .github:hover svg {
    fill: #333;
  }
  
  .linkedin {
    background-color: #0077b5;
  }
  
  .linkedin svg {
    fill: #f2f2f2;
  }
  
  .linkedin:hover svg {
    fill: #0077b5;
  }
  
  .instagram {
    background-color: #c13584;
  }
  
  .instagram svg {
    fill: #f2f2f2;
  }
  
  .instagram:hover svg {
    fill: #c13584;
  }
  
footer {
    background-color: #0B2447;
    padding: 20px;
    text-align: center;
}

.footerNav {
   margin: 30px 0;
}

.footerNav ul {
   display: flex;
   justify-content: center;
   list-style-type: none;
}

.footerNav ul li a{
    color: #fff;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 5px;
    text-align: center;
}

.footerBottom p {
    color: #fff;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media screen and (max-width: 991.98px) {
    .layar-dalam {
        width: 90%;
    }
    nav .menu ul {
        display: none;
        margin-top: 60px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    nav .menu ul li {
        width: 100%;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        line-height: 40px;
    }
    nav .menu ul li a {
        color: #333;
    }
    .tombol-menu {
        display: flex;
    }
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}


    
